body {
    font-family: 'Montserrat', sans-serif;
    background-color: #31333f;
}
.main-wrapper {
    background-color: #ececec;
    padding: 50px 0;
    min-height: 700px;
}
.dark-books-bkg {
    background: url('../images/book-bgrnd.jpg') bottom center;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}
.logo-block {
    display: block;
    margin: 0 auto 20px auto;
}
form legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #31333f;
    text-align: center;
}
.error-msg {
    background-color: #fff;
    border-radius: 2px;
}
.error-msg p{
    text-align: center;
    padding: 5px;
    color: red;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size:  1.75em;
}

h3 {
    font-size:  1.5em;
}

h4 {
    font-size:  1.1em;
    font-weight: 900;
}

p {
    margin: 10px 0 15px;
    color: #31333f;
}


img {
    max-width: 100%;
}

.row {
    width: 100%;
}
.clear {
    clear: both;
}
/*-------------------------- Buttons ---------------------------- */
.btn {
    outline: none;
    margin: 10px 0;
}

.btn-round {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #FFF;
    border-radius: 1000px;
    padding: 8px 30px;
    border: 2px solid #00d462;
    cursor: pointer;
}

.btn-round.solid-btn:hover {
    color: #31333f;
}
.btn-round:hover {
    color: #00d462;
}
.btn-round.solid-btn {
    background-color: #00d462;
}
.btn-square {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 2px;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid #00d462;
    width: 32%;
    color: #00d462
}
.btn-square:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #00d462;
}

.user-btn {
    width: 136px;
}
.log-btn {
    margin-right: 6px;
}
.reg-btn {
    margin-left: 6px;
}

/*-------------------------- Header ---------------------------- */
@media (max-width: 991px) {
    .container {
        width: 100% !important;
    }
}


/*-------------------------- Nav ---------------------------- */
.primary-header {
    background: url('../images/header-bkg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100px;

}
.primary-header img {
    padding: 15px 0;
}

.primary-nav {
    display: inline-block;
    float: right;
}
.primary-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.primary-nav ul li {
    display: inline-block;
    padding: 29px 0;
}
.primary-nav ul li a {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 30px;
}

.primary-nav ul li a:link {
    text-decoration: none;
}

.mobileMenu{
  display: none;
}

@media (min-width: 768px) {
    .primary-nav ul li a:hover,
    .primary-nav ul li a.current {
        text-decoration: none;
        background-color: #00d462;
        padding: 8px 30px;
        border-radius: 1000px;
        color: #31333f;
    }
}

@media (max-width: 767px) {

    .primary-nav {
        position: absolute;
        left: 0;
        background-color: #31333f;
        z-index: 10;
        top: 100px;
        width: 100%;
        display: none;
      }

    .primary-nav ul {
        float: none;
      }
    .primary-nav ul li {
        display: block;
        padding: 0;
      }
    .primary-nav ul li a {
        width: 100%;
        border: 1px solid #444;
        padding: 15px 20px;
        box-sizing: border-box;
      }

    .mobileMenu {
        display: inline-block;
        float: right;
        width: 60px;
        padding-top: 10px;
    }
}
/*-------------------------- Form elements ---------------------------- */
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
    display: block;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px 10px;
    border: 1px solid #999;
    outline: none;
    height: 40px;
}
input[type=radio] {
    margin-right: 5px;
}
.form-white-bkg {
    background-color: #fff;
    padding: 35px;
    border-radius: 15px;
}

.user-info-form  legend {
    color: #fff;
}

.input-icon {
    height: 40px;
    width: 40px;
    background: #eee;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #999;
    border-right: 0;
}
.input-icon img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.user-info-form input[type=text],
.user-info-form input[type=email],
.user-info-form  input[type=password],
.user-info-form  input[type=text],
.user-info-form  input[type=email],
.user-info-form  input[type=password] {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}



/*-------------------------- Parsley JS Form Validation ---------------------------- */

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
.user-info-form ul.parsley-errors-list {
    position: absolute;
    right: 8px;
    top: 2px;
}
.user-info-form li.parsley-required {
    color: red;
    font-size: .85em;
}

/*-------------------------- Admin Login Page ---------------------------- */
#admin-login-form {
    padding: 15px 30px;
    width: 350px;
}

.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


/*-------------------------- Registration Page ---------------------------- */
#register-form {
    padding: 15px 30px;
    width: 700px;
    text-align: center;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#register-form .input-row {
    margin: 0;
}
#register-form .input-group {
    padding-left: 3px;
    padding-right: 3px;
}
.reg-btn-col {
    text-align: right;
    padding-right: 5px;
}
.log-btn-col {
    text-align: left;
    padding-left: 5px;
}
/*-------------------------- Display books page ---------------------------- */
.book-item {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #fefefe;
    padding: 15px;
}

/*-------------------------- View books page ---------------------------- */
.headingUnderline {
    padding-bottom: 5px;
    border-bottom: 4px solid #00d462;
}
.bookDetails {
    padding-top: 30px;
}

/*-------------------------- Books Form ---------------------------- */
.hiddenStep,
#newAuthor,
#existingAuthor {
   display:none;
 }
.books-editbook #newAuthor {
    display: block;
}
#newAuthor h4 {
    margin-bottom: 17px;
}
.selectionFieldGroup {
    border: 1px solid #ececec;
    background: #ececec;
    padding: 15px 30px;
    margin-bottom: 25px;
    border-radius: 20px;
}
.formNav {
    margin-top: 40px;
}
.next-btn {
    float: right;
}
.prev-btn,
.next-btn {
    border: 2px solid #00d462;
    padding: 2px 10px;
    border-radius: 20px;
    color: #00d462;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    line-height: 1.5;
}
.prev-btn:hover, .prev-btn:focus,
.next-btn:hover, .next-btn:focus,
#addBook input[type=submit]:hover,
#addBook input[type=submit]:focus {
    text-decoration: none;
    background-color: #00d462;
    color: #FFF;
}

.form-control {
    border-color: #999;
}
#addBook input[type=submit] {
    float: right;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #00d462;
    border: 2px solid;
    border-radius: 1000px;
    background-color: #fff;
    padding: 2px 10px;
    line-height: 1.5;
}

/*-------------------------- Notification ---------------------------- */

.notification {
    padding: 10px 20px;
    border-left: 6px solid #00d462;
    background-color: #fff;
    margin: 0 30px 30px 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}

/*-------------------------- Footer ---------------------------- */
footer {
    color: #FFF;
    text-align: center;
    padding-top: 15px;
    font-weight: normal;
}
